<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0"
    />
    <title>Neptune Connect</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="stylesheet" href="public/assets/css/style.css" />
    <link rel="stylesheet" href="public/components/build/neptune.css" />

    <script type="module" src="/public/components/build/neptune.esm.js"></script>
    <script nomodule src="/public/components/build/neptune.js"></script>
  </head>

  <body
    class="selection:bg-indigo-200 selection:text-violet-800 relative font-roboto h-screen bg-white"
  >
    <fluid-container>
      <section class="min-h-screen relative flex items-center justify-center py-12 px-4">
        <div class="max-w-sm w-full space-y-2">
          <div>
            <div class="flex justify-center gap-4 items-center">
              <img class="h-24" src="public/assets/images/neptune.png" alt="neptune logo" />
              <h3 class="font-semibold text-3xl font-serif text-indigo-600">Neptune Connect</h3>
            </div>

            <h2 class="mt-6 text-center text-2xl font-extrabold text-gray-600 font-serif">
              Welcome Back
            </h2>
            <p class="mt-2 text-center text-gray-400">
              Enter your credentials to access your account
            </p>
          </div>

          <!-- <form class="space-y-2" action="/login" name="login-form" method="post">
            <% if (error) { %>
            <p class="flex items-center justify-center pb-2 text-red-600 text-center font-semibold">
              <svg
                aria-hidden="true"
                class="mx-2 w-5 h-5 text-gray-800 dark:text-gray-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Username or password is wrong!!!
            </p>
            <% } %>
            <text-field name="email" type="email" placeholder="email"></text-field>

            <div class="mt-1 relative rounded-md shadow-sm">
              <text-field
                name="password"
                type="password"
                placeholder="password"
                eye="true"
              ></text-field>
            </div>

            <div>
              <plain-button width="full" type="contained"> submit </plain-button>
            </div>
            <div class="pt-2 flex flex-row-reverse">
              <a href="/users/forgot" class="text-indigo-500 font-semibold hover:underline">
                Forgot Password
              </a>
            </div>
          </form> -->
          <login-form
            error="<%=error%>"
            mode="<%=mode%>"
            url="<%=url%>"
            email="<%=email%>"
            password="<%=password%>"
          ></login-form>
        </div>
      </section>
    </fluid-container>
    <script src="/public/scripts/settingScript.js"></script>
  </body>
</html>
